.bg-clr {
  background: #094e61;
  padding: 0 70px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.text-r{
  text-align: right;
}
.donate {
  padding-top: 10px;
  display: flex;
  justify-content: end;
}
.donate-btn {
  border: none;
  padding: 0px 10px;
  background: #efc85d;
  font-size: 14px;
  font-weight: 500;
  color: #1f1f1f;
  border-radius: 3px;
}
.slide-img{
  position: relative;
}
.slide-img .content {
  position: absolute;
  bottom: 0;
  /* background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5);  */
  background: #15b392bd;
  color: #f1f1f1;
  width: 50%;
    padding: 20px;
    right: 15px;
    border-top-left-radius: 15px;

}
.menu-head {
  padding: 0 10px;
}
.menu-head a {
  color: #fff !important;
  font-size: 16px;
  font-weight: 500;
}
.p-50 {
  padding: 50px;
}
.fs-14{
  font-size: 14px;
}
.logo-h {
  width: 80px;
}
.head-text {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.5rem;
  display: grid;
}
.trust {
 
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.nxt-icon {
  background-image: url(images/image\ 1.png);
  width: 30px;
  height: 30px;
}
/* .content {
  position: absolute;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0);
  
} */
.slide-para {
  
  font-size: 16px;
  font-weight: 600;
  text-align: justify;
}
.slide-img img {
  height: 520px;
  
}
.bg-founder {
  background: #094e61;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #fff;
  padding: 2px 50px;
  font-size: 25px;
  font-weight: 700;
}
.founder h4 {
  color: #102c57;
}
.founder-img {
  background: #094e61;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.founder-img img {
  max-width: 100%;
  width: 100%;
  padding: 20px;
  height: 300px;
}
.founder-info p {
  font-size: 16px;
  text-align: left;
  font-weight: 400;
}
.bg-partner {
  background: #b7f7f7;
  padding: 50px;
}
.partner-head {
  color: #102c57;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.partner {
  
  background: #fff;
  text-align: center;
}

.award-sec {
  background: #ffd636;
  border-radius: 20px;
  padding: 50px 0;
}
.awards {
  position: relative;
}
.award {
  position: absolute;
  left: -130px;
  top: 40%;
}
.award h4 {
  background: #094e61;
  font-weight: 500;
  font-size: 30px;
  line-height: 39px;
  text-align: center;
  padding: 2px 70px;
  color: #fff;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.slider-sec {
  display: grid;
  place-items: center;
}
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  overflow: hidden;
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.slider-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  animation: scrolling 20s linear infinite;

}

@keyframes scrolling {

  0% {
      transform: translateX(90%);
  }

  100% {
      transform: translateX(-10%);
  }
}

.slider-items img {
  width: 15%;
  margin: 10px;

}
.partner img{
  width: 200px;
    height: 150px;
}
.contact-head {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
.address p{
  width: 370px
}
.address h4{
  color: #102c57;
  font-weight: 600;
}
.location h4{
  color: #102c57;
  font-weight: 600;
}
.contact-us h4{
  color: #102c57;
  font-weight: 600;
}
.contact-us a{
  color: #000;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;

}
.about-s {
  font-size: 35px;
  font-weight: 700;
}
.group-img {
  width: 100%;
  height: 450px;
}
.group-photo {
  position: relative;
}
.about-bottom {
  margin-top: -100px;
}
.wid{
  width: 25px;
}
.key-program {
  font-weight: 600;
  font-size: 18px;
}
.about-slider img {
  width: 100%;
  height: 450px;
}
.about-des {
  background: #15b392eb;
  color: #fff;
  padding: 30px 50px;
  text-align: justify;
  font-size: 16px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.about-des span {
  padding-left: 5%;
}
.slide-left {
  left: 0% !important;
}

.our-story h5 {
  width: 75%;
  text-align: center;
  padding: 5px;
  background: #094e61;
  color: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  font-size: 25px;
  margin: auto;
}
.our-story .para p {
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: 500;
  text-align: justify;
}
.our-story .para p span {
  padding-left: 135px;
}
.vision {
  position: relative;
  background: #b7f7f7;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px 60px;
}
.vision::before {
  content: "";
  position: absolute;
  left: -110px;

  top: 10%;
  width: 150px;
  background: #1e7a67;
  height: 40px;
}
.pl-50 {
  padding-left: 50px;
}

.vision h5 {
  font-size: 25px;
  text-transform: uppercase;
}
.vision-details p {
  text-align: justify;
  font-size: 16px;
}
.mission {
  position: relative;
  background: #b7f7f7;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px 60px;
}
.mission ::before {
  content: "";
  position: absolute;
  right: -100px;

  top: 10%;
  width: 150px;
  background: #1e7a67;
  height: 40px;
}
.mission h5 {
  font-size: 25px;
  text-transform: uppercase;
  text-align: right;
}
.mission-details p {
  text-align: justify;
  font-size: 16px;
}
/* .carousel-item img {
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
} */
.our-work {
  font-size: 35px;
  font-weight: 700;
  color: #102c57;
  text-align: center;
}
.work-details {
  background: #15b392bd;

  font-size: 16px;

  padding: 20px;
  text-align: left;
  font-weight: 500;
  width: 868px;
}
.about-p {
  font-size: 16px;
  font-weight: 500;
}
.value {
  background: #f7f7f7e6;
  padding: 50px;
}
.our-values h5 {
  width: 75%;
  text-align: center;
  padding: 5px;
  background: #094e61;
  color: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  font-size: 25px;
  margin: auto;
}
.value-list ul li {
  font-size: 16px;
  list-style: square;
  padding: 10px 0;
}
.value-list img{
  display: none;
}

 li::marker {
  font-size: 27px;
  color: grey;
}  
.value-list ul li span {
  font-size: 18px;
  font-weight: 600;
  
}
.value-list ul li img {
  width: 25px;
}
.work-slider {
  position: relative;
}
.work-slider img {
  width: 100%;
  height: 450px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}
.text-above {
  position: absolute;
  bottom: 10%;
  background: #15b392bd;
 
  font-size: 16px;
  padding: 20px;
  text-align: left;
  font-weight: 500;
  width: 868px;
  color: #fff;
}

@media screen and (max-width: 564px) {
  .mob-btn {
    background-color: #000;
  }
  .logo-h {
    width: 70px;
  }
  .head-text {
    font-size: 18px;

   
  }
  .trust {
    font-size: 14px;

  
  }
  .slide-img img{
    height: 350px;
  }
  .work-slider img{
    height: 350px;
  }
  .slide-img .content{
    width: 100%;
    padding: 5px 25px;
    right: 0;
  }
  .slide-para {
    font-size: 13px;
    padding: 0;
  }
  .founder h4 {
    text-align: center;
    font-size: 20px;
  }
  .founder .fs-14 {
    text-align: center;
  }
  .founder .text-r {
    text-align: center;
  }
  
  
  .p-50 {
    padding: 20px;
  }
  .founder h4 p {
    padding: 0 20px;
  }
  .founder-info p {
    font-size: 15px;
    padding: 0 20px;
  }
  .award h4 {
    font-size: 18px;
    padding: 2px 30px;
    line-height: 25px;
  }
  h4{
    font-size: 20px;
  }
  .award {
    left: -20px;
    top:-40px;
  }
  .partner-head {
    font-size: 20px;
  }
  .address p {
    padding: 0 30px;
    width: 100%;
    font-size: 13px;
}
.contact-us a{
  font-size: 14px;
}
  .partner{
    margin: 10px;
  }
  .partner img{
    width: 150px;
    height: 80px;
  }
  .about-des {
    font-size: 12px;
    padding: 10px;
    line-height: 1rem;
  }
  .wid {
    width: 15px;
  }
  .key-program {
    font-size: 14px;
  }
  .text-above{
    font-size: 13px;
    padding: 10px;
    bottom: 0;
    width: 100%;
  }
  .work-details {
    background: #15b392bd;
    font-size: 13px;
    padding: 10px;
    text-align: left;
    font-weight: 500;
    width: 100%;
  }
  .about-slider img {
    height: 350px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .about-p {
    font-size: 14px;
  }
  .our-work{
    font-size: 20px;
  }
  .our-story h5 {
    font-size: 20px;
    width: 100%;
  }
  .our-story .para p {
    font-size: 14px;
    line-height: 1.2rem;
  }
  .our-story .para p span {
    padding-left: 70px;
  }
  .vision {
    padding: 30px 45px;
  }
  .vision h5 {
    font-size: 20px;
  }
  .vision::before {
    height: 30px;
  }
  .vision-details p {
    font-size: 14px;
  }
  .mission {
    padding: 30px 45px;
  }
  .mission-details p {
    font-size: 14px;
  }
  .mission h5 {
    font-size: 20px;
  }
  .mission ::before {
    height: 30px;
    right: -110px;
    background: #1e7a67;
  }
  .our-values h5 {
    font-size: 20px;
    width: 100%;
  }
  .value-list ul li {
    font-size: 14px;
    padding: 5px 0;
  }
  .value-list ul li span {
    font-size: 16px;
  }
  .value-list ul {
    padding: 0;
  }
  .value {
    padding: 20px;
  }
  .about-bottom {
    margin-top: -90px;
  }
  .value-list ul li img {
    width: 18px;
  }
  .p-30{
    padding:10px  30px;
  }
  .group-img{
    height: 350px;
  }
 
}
